/**
 * Site header
 */
.site-header {
    border-top: 10px solid $color-primary;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    text-align: center;
    overflow: hidden;
    font-size: $moto-font-size;

    a{
        font-weight: $light-font-weight;
        strong{
          font-weight: $base-font-weight;
        }
    }
    .site-title-link{
      position:relative;
      padding-left: 125px;
      display:inline-block;
      img{
        width:95px;
        height: auto;
        position: absolute;
        top:0;
        left:0;

      }
      span{
        display:inline-block;
        text-align: left;
        color: $color-primary;
        text-transform: none;
      }
    }
}

.site-nav {
    text-align: center;

    .page-link {
        color: $color-secondary;
        line-height: $base-line-height * 2;
        text-transform: uppercase;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
            border-right: 1px solid $color-secondary;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

/**
 * Post list
 */
.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}
.post-read-more{
  color: $text-color!important;
  font-weight: 700;
}
.post-excerpt{
  margin-top: $base-font-size;
  margin-bottom: 0;
}





/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    display: block;
    font-size: $big-font-size !important;
    font-weight: $light-font-weight;
    color: $color-primary;
    margin-bottom: 0 !important;
}
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}
.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-categories{
    font-size: $small-font-size;
    color: $color-primary;
    text-transform: uppercase;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
